* {
  padding: 0;
  margin: 0;
}

.anchor {
  height: 30px;
  width: 100vw;
  background-color: black;;
  font-size: 20px;
}

span {
  margin: 1%;
}

.all {
  text-decoration: none;
  color: white;
}

.about-me img{
    width: 100vw;
    height: 885.1px;
    position: relative;
}

.about-me .me{
    position: absolute;
    top: 20%;
    text-align: center;
    font-size: 25px;
    padding: 100px;
}
.about-me {
  border-top: 4px solid gold;
}

a {
  text-decoration: none;
  color: white;
}

.home:hover {
  color: hotpink;
}

.contact:hover {
  color: chartreuse;
}

.about:hover {
  color: yellow;
}

.name:hover {
  color: chartreuse;
}

.name2:hover {
  color: chartreuse;
}

a:active {
  color: blue;
}
